<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/notice.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <!-- <script src="/javascripts/custom-file-input.js"></script> -->
    <script>






        function commentBoxShow() {
            var modal = document.getElementById("comment");
            modal.style.display = "block";
        }

        function noticeBoxHide() {
            var modal = document.getElementById("notice");
            modal.style.display = "none";
        }
    </script>


    <style>
        body {
            background: #F5F6F9;
        }
    </style>

    <script>
        // message box
        function showSelEmpMes() {
            var modal = document.getElementById("emptySelect");
            modal.style.display = "block";
        }
        // Check Delete
        function showcheckDelete() {


            var modal = document.getElementById("checkDelete");
            modal.style.display = "block";
        }
        function hidecheckDelete() {
            var modal = document.getElementById("checkDelete");
            modal.style.display = "none";
        }

        // check comment

        function checkComment() {
            if (document.getElementById("txtTypeComment").value == '') {
                var modal = document.getElementById("checkComment");
                modal.style.display = "block";
            }
            else {
                document.fcomment.submit();

            }
        }

        // check comment

        function hidecheckComment() {

            var modal = document.getElementById("checkComment");
            modal.style.display = "none";



        }

    </script>

</head>

<body onLoad="commentBoxShow();">
    <!--empty comment -->
    <div id='checkComment' class='messBox'>
        <div class='modalmess-content d-flex flex-column'>
            <p class="p-5 d-flex ">Please type your comment!</p>
            <p class="p-3 d-flex flex-row-reverse ">
                <a href='' onclick='hidecheckComment();' class='btn btn-dark '>Confirm</a>

            </p>
        </div>
    </div>
    <!-- Check Delete -->
    <div id='checkDelete'>
        <div class=' d-flex flex-column modalmess-content '>
            <p class="p-5 d-flex ">Do you want to delete?</p>
            <p class="p-3 d-flex flex-row-reverse ">
                <a href='#' onclick='hidecheckDelete();' class='btn btn-dark btnfix'>No</a>&nbsp;
                <a href='/notice/notice_delete/<%= strID %>' class='btn btn-dark '>Confirm </a>

            </p>
        </div>
    </div>







    <div id='comment' class='messBox'>
        <div class='modalcomment-content '>
            <div class="p-2 d-flex flex-row-reverse ">

                <a href='/notice/updateComment' onclick='noticeBoxHide();' class='btn btn-dark btnfix'>X</a>


            </div>
            <h2 class="p-2" id="pagetitle">
                <%= title %>
            </h2>

            <% if(dataPage.length> 0)
                {
                dataPage.forEach(function(data){
                %>
                <h4 id="showtitle" class="">
                    <%= data.title %>
                </h4>
                <div class="d-flex  flex-row-reverse" id="showname_date">
                    Writer: <%= data.writer %> - Date: <%= data.dateCreate %> %>
                </div>

                <div id="content" class="p-2">
                    <div id="imgArt">
                        <img src="/uploads/<%= data.imgUpload %>" alt="<%= data.imgUpload %>"/>
                        
                    </div>
                    <div id="conArt">
                        <% const str=data.content.toString(); const modifiedStr=str.slice(1, -1); %>
                        <%- modifiedStr %>

                    </div>

                    

                </div>




                <div id="txtcomment" class="p-2">
                    <div id="fileupload">


                        <% if((data.fileUpload=='undefined' ) || (data.fileUpload=='' )) { }else{%>
                            <span>Attached file: </span><a href="/uploads/<%= data.fileUpload %>"
                                target="_blank">Download</a>
                            &#9;
                            <% } %>

                                <% if((data.videoUpload=='undefined' ) || (data.videoUpload=='' )) { } else{%>
                                    <span>Attached video: </span><a href="/uploads/<%= data.videoUpload %>"
                                        target="_blank">Download</a>
                                    <% } %>



                                        <% if(data.writer==sesWriter){ %>

                                            <div id="action">
                                                <a href="/notice/notice_edit/<%= data.id %>">Edit</a> <button
                                                    id="btnDeleteNotice" class="btn btn-link"
                                                    onclick="showcheckDelete();">Delete</button>


                                            </div>

                                            <%} else{%>

                                                <% } %>
                    </div>
                   
                        <div id="titComment">
                            <h4>Comment</h4>
                        </div>
                        <div id="commented">
                            <% if(dataComment.length> 0)
                                {
                                dataComment.forEach(function(data2){
                                %>
                                <div class="txtWriter">
                                    <%= data2.comWriter %>
                                        <%= data2.comDate %>
                                </div>
                                <span>
                                    <%= data2.comContent %>
                                </span>



                                <% }); }<!--and if(sampleData.length>-->
                                    else
                                    {
                                    %>

                                    No Data Found

                                    <% } %>



                        </div>
                        <div id="typecomment">

                            <form action="/notice/addcomment" name="fcomment" method="post">
                                <input type="hidden" name="idNotice" value="<%= data.id %>">
                                <input type="text" name="txtTypeComment" id="txtTypeComment">
                                <button type="button" class="btn btn-dark" id="btnSend"
                                    onclick="checkComment()">Send</button>

                            </form>



                        </div>
                        <% }); }<!--and if(sampleData.length>-->
                            else
                            {
                            %>

                            No Data Found

                            <% } %>







                </div><!--end flex-->


        </div><!--end modal-content-->
    </div><!--end loginfail-->






</body>

</html>