<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <link rel='stylesheet' href='/stylesheets/notice.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- <script src="/javascripts/custom-file-input.js"></script> -->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/javascripts/image-resize.min.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script>






        function commentBoxShow() {
            var modal = document.getElementById("comment");
            modal.style.display = "block";
        }

        function noticeBoxHide() {
            var modal = document.getElementById("notice");
            modal.style.display = "none";
        }
    </script>


    <style>
        body {
            background: #F5F6F9;

        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <script>
        // message box
        function showSelEmpMes() {
            var modal = document.getElementById("emptySelect");
            modal.style.display = "block";
        }
        // Check Delete
        function showcheckDelete() {
            var modal = document.getElementById("checkDelete");
            modal.style.display = "block";
        }
        function hidecheckDelete() {
            var modal = document.getElementById("checkDelete");
            modal.style.display = "none";
        }

        // check comment

        function checkComment() {
            if (document.getElementById("txtTypeComment").value == '') {
                var modal = document.getElementById("checkComment");
                modal.style.display = "block";
            }
            else {
                document.fcomment.submit();
            }
        }

        // check comment

        function hidecheckComment() {
            var modal = document.getElementById("checkComment");
            modal.style.display = "none";
        }

    </script>
    <style>
        #content {
            width: 100%;
            height: 36vh;
            overflow-y: scroll;

        }

        .ql-editor {
            width: 100%;
            margin: 0px !important;
            padding: 0px 10px;
        }
       
    </style>

</head>

<body onLoad="commentBoxShow();">
    <!--empty comment -->
    <div id='checkComment' class='messBox'>
        <div class='modalmess-content d-flex flex-column'>
            <p class="p-5 d-flex ">Please type your comment!</p>
            <p class="p-3 d-flex flex-row-reverse ">
                <a href='' onclick='hidecheckComment();' class='btn btn-dark '>Confirm</a>

            </p>
        </div>
    </div>
    <!-- Check Delete -->
    <div id='checkDelete'>
        <div class=' d-flex flex-column modalmess-content '>
            <p class="p-5 d-flex ">Do you want to delete?</p>
            <p class="p-3 d-flex flex-row-reverse ">
                <a href='#' onclick='hidecheckDelete();' class='btn btn-dark btnfix'>No</a>&nbsp;
                <a href='/notice/notice_delete/<%= strID %>' class='btn btn-dark '>Confirm </a>

            </p>
        </div>
    </div>







    <div id='comment' class='messBox'>
        <div class='modalcomment-content '>
            <div class="p-2 d-flex flex-row-reverse ">

                <a href='/notice/updateComment' onclick='noticeBoxHide();' class='btn btn-dark btnfix'>X</a>


            </div>
            <h2 class="p-2" id="pagetitle">
                <%= title %>
            </h2>

            <% if(dataPage.length> 0)
                {
                dataPage.forEach(function(data){
                %>
                <h4 id="showtitle" class="">
                    <%= data.title %>
                </h4>
                <div class="d-flex  flex-row-reverse" id="showname_date">
                    Writer: <%= data.writer %> - Date: <%= data.dateCreate %> %>
                </div>

                <div id="content" >
                    <div class="ql-editor"> <% const str=data.content.toString(); %> <%- str %>             </div>
                  


                </div>




                <div id="txtcomment" class="p-2">
                    <div id="fileupload">


                        <% if((data.fileUpload=='undefined' ) || (data.fileUpload=='' )) { }else{%>
                            <span>Attached file: </span>
                           
                                
                                <% 
                                    let strFile = data.fileUpload;
                                    let arrayFile = strFile.split(";");
                                    for(var i = 0; i < arrayFile.length; i++ ){

                                        let pos = arrayFile[i].indexOf('_');
                                        var result=arrayFile[i].substring(pos + 1); var lengthOfStr=result.length; if(lengthOfStr>20)
                                        {
                                            %>
                                            <a href="/uploads/<%= arrayFile[i];%>" download="<%= result; %>">
                                                <%=  result.substring(0,21) + ' ...' ; %>
                                            </a> &nbsp;&nbsp;
                                            <%

                                        }
                                        else{
                                            <!-- lengofStr < 20 -->
                                            %>
                                            <a href="/uploads/<%= arrayFile[i];%>" download="<%= result; %>">
                                                <%= result %>
                                            </a> &nbsp;&nbsp;
                                            
                                            <%
                                        }
                                    }
                                            
                                         
                                                %>
                               
                            
                            &#9;
                            <% } %>


                                <% if(data.writer==sesWriter){ %>
                                    <div id="action">
                                        <a href="/notice/notice_edit/<%= data.id %>">Edit</a> <a id="btnDeleteNotice"
                                            class="btn btn-link" onclick="showcheckDelete();">Delete</a>
                                    </div>

                                    <%} else{%>

                                        <% } %>


                    </div>

                    <div id="titComment">
                        <h4>Comment</h4>
                    </div>
                    <div id="commented">
                        <% if(dataComment.length> 0)
                            {
                            dataComment.forEach(function(data2){
                            %>
                            <div class="txtWriter">
                                <%= data2.comWriter %>
                                    <%= data2.comDate %>
                            </div>
                            <span>
                                <%= data2.comContent %>
                            </span>



                            <% }); }<!--and if(sampleData.length>-->
                                else
                                {
                                %>

                                No Data Found

                                <% } %>



                    </div>
                    <div id="typecomment">

                        <form action="/notice/addcomment" name="fcomment" method="post">
                            <input type="hidden" name="idNotice" value="<%= data.id %>">
                            <input type="text" name="txtTypeComment" id="txtTypeComment">
                            <button type="button" class="btn btn-dark" id="btnSend"
                                onclick="checkComment()">Send</button>

                        </form>



                    </div>
                    <% }); }<!--and if(sampleData.length>-->
                        else
                        {
                        %>

                        No Data Found

                        <% } %>

                </div><!--end flex-->


        </div><!--end modal-content-->
    </div><!--end loginfail-->






</body>

</html>